.page {
  background-image: url(../../../public/fightbackground.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .enemyPokemon {
    position: absolute;
    top: 32%;
    right: 18%;
    animation: appear-right 1s ease-in-out;

    @media (max-width: 1600px) {
      top: 27%;
      right: 13%;
    }
  }

  .myPokemon {
    position: absolute;
    bottom: -130px;
    left: 10%;
    animation: appear-left 1s ease-in-out;

    @media (max-width: 1600px) {
      bottom: -130px;
      left: 3%;
    }
  }
}

@keyframes appear-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear-right {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}
